.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transition: all 0.05s;
}

.hour-hand {
  width: 30%;
  height: 10px;
  left: 20%;
}

.minute-hand {
  height: 10px;
}
